@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --accent: #00b894;
  --accent-hover: #16a085;
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);
  }

  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: black;
  }

  h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: -0.01em;
    color: black;
  }

  h3 {
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: black;
  }

  h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: black;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: black;
  }

  .small {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: black;
  }
}

.cm-header-1{
  font-size: 1.7em;
}
.cm-header-2{
  font-size: 1.5em;
}

.cm-header-3{
  font-size: 1.3em;
}
.cm-header-4{
  font-size: 1.1em;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}