@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --accent: #000;
  --accent-hover: #000;
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);
  }

  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: black;
  }

  h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: -0.01em;
    color: black;
  }

  h3 {
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: black;
  }

  h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: black;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: black;
  }

  .small {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: black;
  }
}